* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hue: 240;
  --primary-color: hsl(var(--hue), 6%, 21%);
  --second-color: hsl(var(--hue), 9%, 89%);
}

body {
  font-size: 1.6rem;

  display: grid;
  height: 100vh;
  place-content: center;
}

.flex {
  display: flex;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 19rem;
}

button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);

  cursor: pointer;

  font-size: 6.4rem;
}

/* Clock */
#clock {
  flex-direction: column;
  justify-content: center;
}

#timer {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  text-align: center;

  font-size: 13rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#controls {
  justify-content: space-between;
}

#theme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

#theme button {
  width: 14rem;
  height: 15rem;

  background-color: var(--second-color);

  border-radius: 20%;
}
